{% if site.github_username %}
<div class="block block-github">
    <h4>
        <a href="https://github.com/{{ site.github_username }}">
            Actividad en GitHub
        </a>
    </h4>
    <div class="github-widget" data-username="{{ site.github_username }}">
        <a href="https://github.com/{{ site.github_username }}">
            <span class="fa-stack fa-4x">
                <span class="fa fa-spinner fa-spin fa-stack-2x"></span>
                <span class="fa fa-github fa-stack-1x"></span>
            </span>
        </a>
    </div>
</div>
{% endif %}