---
layout: default
foot: foot-common.html
---

<div class="row page page{{ page.url | replace:'/','-' | remove: '.html'}}">
    <!-- CONTENT -->
    <div class="col-md-9 content">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
        <article>
            {{ content }}
        </article>
    </div>
    <!-- /CONTENT -->
    <!-- SIDEBAR -->
    <aside class="col-md-3 sidebar">
        {% include sidebar-common.html %}
    </aside>
    <!-- SIDEBAR -->
</div>
