---
layout: default
foot: foot-post.html
---

<article class="row post post-show" itemscope itemtype="http://schema.org/BlogPosting">
    <!-- POST CONTENT -->
    <div class="col-md-9 content">
        <div class="page-header">
            <h1 itemprop="headline">
                <span itemprop="name">{{ page.title }}</span>
            </h1>
        </div>
        <div class="post-body" itemprop="articleBody">
            {{ content }}
        </div>
    </div>
    <!-- /POST CONTENT -->
    <!-- SIDEBAR -->
    <aside class="col-md-3 sidebar">
        <div class="page-header">
            <div class="h1">&nbsp;</div>
        </div>
        <div class="row">
            <!-- POST META -->
            <div class="col-sm-6 col-md-12">
                <div class="block">
                    {% include post-date.html date=page.date %}
                </div>
                <div class="block">
                    {% include post-categories.html categories=page.categories %}
                </div>
                {% include post-author.html author=page.author %}
            </div>
            <!-- /POST META -->
            <!-- RELATED POSTS -->
            <div class="col-sm-6 col-md-12">
                {% include block-related-posts.html %}
            </div>
            <!-- /RELATED POSTS -->
        </div>
        <!-- SEARCH -->
        {% include block-search.html %}
        <!-- /SEARCH -->
    </aside>
    <!-- /SIDEBAR -->
</article>
<!-- COMMENTS -->
{% if page.comments %}
    <div class="row">
        <div class="col-md-9 post-comments">
            <hr>
            {% include disqus.html %}
        </div>
    </div>
{% endif %}
<!-- COMMENTS -->
